<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments/header}"></head>
<div id="main">
    <script th:inline="javascript">
        let error = [[${error}]];
        if (error) {
            alert(error);
        }
    </script>
    </br>
    <div th:if="${ not#lists.isEmpty(commissions)}" id="table-container">
        <div id="table-div">
        <table class="table" id="table">
            <tr>
                <th>Дата</th>
                <th>Сумма</th>
            </tr>
            <tr th:each="commission : ${commissions}">
                <td th:text="${commission.date}"></td>
                <td th:text="${commission.sum}"></td>
            </tr>
        </table>
        </div>
        <div id="page-pointer"></div>
        <div id="btn_container">
            <button id="back" onclick="back10()" class="cstm-btn btn">Назад</button>
            <button id="next" onclick="next10()" class="cstm-btn btn">Вперед</button>
        </div>
        <script type="text/javascript" th:src="@{../table.js}" src="static/table.js"></script>
    </div>
    <div th:unless="${ not#lists.isEmpty(commissions)}">Пока здесь ничего нет</div>
    <form action="#" th:action="@{/Accounting/Commission}" th:object="${commissionRequest}" method="post" id="form">
        <h2>ДОБАВИТЬ КОМИССИЮ</h2>
        <p type="Дата">
            <input type="date" th:field="*{date}" required>
        </p>
        <p type="Сумма">
            <input type="text" th:field="*{sum}" required placeholder="Введите сумму...">
        </p>
        <input type="submit" value="Добавить" class="cstm-btn btn"/>
    </form>
</div>
</body>
</html>
