<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header}"></head>
<div id="main">
    <div id="controller">
        <h2 th:text="${'Баланс: '+balance}"></h2>
        <div style="display: inline-flex; justify-content: space-around; width: max-content">
            <button class="cstm-btn btn" id="change_btn">Изменить доли</button>
            <button class="cstm-btn btn" id="save_btn" style="display: none">Сохранить</button>
            <button class="cstm-btn btn" id="cancel_btn" style="display: none">Отменить</button>
        </div>
    </div>

    <div th:if="${ not#lists.isEmpty(accounts)}">
        <table class="table" id="table">
            <tr>
                <th>Название</th>
                <th>Текущая цена</th>
                <th>Количество</th>
                <th>Текущая сумма</th>
                <th>Текущая доля</th>
                <th>Макс доля</th>
                <th>Докупить</th>
                <th>Средняя цена</th>
                <th>Изменение</th>
                <th>Изменение в %</th>
                <th>Дивиденды</th>
            </tr>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.name}"></td>
                <td th:text="${account.currentCost}"></td>
                <td th:text="${account.count}"></td>
                <td th:text="${account.count*account.currentCost}"></td>
                <td th:text="${account.currentShare}"></td>
                <td th:text="${account.maxShare}"></td>
                <td th:text="${account.toBuy}"></td>
                <td th:text="${account.averageCost}"></td>
                <td th:text="${account.change}"></td>
                <td th:text="${account.changeInPercents}"></td>
                <td th:text="${account.dividends}"></td>
            </tr>
        </table>
        <form action="#" th:action="@{/Accounting}" th:object="${changePercentRequest}" method="post" id="form" hidden>
            <input type="text" th:field="*{array}" id="change_percent_array">
            <input type="submit" value="Добавить" id="change_percent_form_btn"/>
        </form>
    </div>
    <div th:unless="${ not#lists.isEmpty(accounts)}">Пока здесь ничего нет</div>
    <div id="my-pie-chart-container">
        <div id="my-pie-chart"></div>
        <div id="legenda"></div>
    </div>
    <script type="text/javascript" th:src="@{homePieChart.js}" src="static/homePieChart.js"></script>
    <script th:inline="javascript">
        homePieChart1([[${accounts}]]);
        const accounts = [[${accounts}]];
    </script>
    <script type="text/javascript" th:src="@{change_percent.js}" src="static/change_percent.js"></script>
</div>
</body>
</html>