<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments/header}"></head>
</br>
<div id="main">
    <script th:inline="javascript">
        let error = [[${error}]];
        if (error) {
            alert(error);
        }
    </script>
    <div th:if="${sells.getTotalElements()}" id="table-container">
        <div id="table-div">
        <table class="table" id="table">
            <tr>
                <th>Дата</th>
                <th>Тикер</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th>Средняя цена</th>
                <th>Средняя сумма</th>
                <th>Изменение</th>
            </tr>
            <tr th:each="sell : ${sells.getContent()}">
                <td th:text="${sell.date}"></td>
                <td th:text="${sell.ticker}"></td>
                <td th:text="${sell.cost}"></td>
                <td th:text="${sell.count}"></td>
                <td th:text="${sell.sum}"></td>
                <td th:text="${sell.averageCost}"></td>
                <td th:text="${sell.averageSum}"></td>
                <td th:text="${sell.Change}"></td>
            </tr>
        </table>
        </div>
        <div id="page-pointer"></div>
        <div id="btn_container">
            <button id="back" class="cstm-btn btn">Назад</button>
            <button id="next" class="cstm-btn btn">Вперед</button>
        </div>
        <script type="text/javascript" th:src="@{../table.js}" src="static/table.js"></script>
        <script th:inline="javascript">
            setPageNavigation([[${sells}]]);
        </script>
        
    </div>
    <div th:unless="${sells.getTotalElements()}">Пока здесь ничего нет</div>
    <form action="#" th:action="@{/Accounting/Sell}" th:object="${sellRequest}" method="post" id="form">
        <h2>ПРОДАЖИ</h2>
        <p type="Дата">
            <input type="date" th:field="*{date}" required>
        </p>
        <p type="Тикер">
            <select th:field="*{ticker}">
                <option th:each="account : ${accounts}"
                        th:value="${account.ticker}" th:text="${account.name}"></option>
            </select>
            <!-- <input type="text" th:field="*{ticker}" required placeholder="Введите тикер..."> -->
        </p>
        <p type="Цена">
            <input type="text" th:field="*{cost}" required placeholder="Введите цену...">
        </p>
        <p type="Количесвто">
            <input type="text" th:field="*{count}" required placeholder="Введите количество...">
        </p>
        <input type="submit" value="Добавить" class="cstm-btn btn"/>
    </form>
</div>
</body>
</html>
