#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
    margin: 10px;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}