#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
    margin: 10px;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#table-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#table-container a:hover {
    border-bottom: 3px solid rgb(96,9,240); /* добавляем нижнюю границу */
    padding-bottom: 1px; /* делаем небольшое расстояние между текстом и границей */
}

