<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{AddSummary}" th:object="${summaryRequest}" method="post">
    <label>
        Название инструмента
        <input type="text" th:field="*{instrumentName}">
    </label></br>
    <label>
        Сумма
        <input type="text" th:field="*{sum}">
    </label></br>
    <label>
        Изменение
        <input type="text" th:field="*{change}">
    </label></br>
    <label>
        Изменение в %
        <input type="text" th:field="*{changeInPercents}">
    </label></br>
    <label>
        % в портфеле
        <input type="text" th:field="*{percentFromAll}">
    </label></br>
    <label>
        Инвестировано
        <input type="text" th:field="*{invested}">
    </label></br>
    <label>
        Изменение от пополнения
        <input type="text" th:field="*{changeFromInvested}">
    </label></br>
    <input type="submit" value="Добавить"/>
</form>
</body>
</html>