<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${instrumentName}"></title>
    <link rel="stylesheet" th:href="@{../table.css}">
    <link rel="stylesheet" th:href="@{../header.css}">
</head>
<body>
<div class="header">
    <a href="#default" class="logo">Покупки</a>
    <div class="header-right">
        <a class="active" href="/">Портфель</a>
        <a th:href="@{/Accounting?instrumentName={name}(name=${instrumentName})}" th:text="${instrumentName}"></a>
        <a th:href="@{/Accounting/Dividends?instrumentName={name}(name=${instrumentName})}">Дивиденды/купоны</a>
        <a th:href="@{/Accounting/Sell?instrumentName={name}(name=${instrumentName})}">Продажи</a>
    </div>
</div>
</br>
<div th:if="${ not#lists.isEmpty(buys)}">
    <table class="table">
        <tr>
            <th>Дата</th>
            <th>Тикер</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
        <tr th:each="buy : ${buys}">
            <td th:text="${buy.date}"></td>
            <td th:text="${buy.ticker}"></td>
            <td th:text="${buy.cost}"></td>
            <td th:text="${buy.count}"></td>
            <td th:text="${buy.sum}"></td>
        </tr>
    </table>
</div>
<div th:unless="${ not#lists.isEmpty(buys)}">Пока здесь ничего нет</div>
<form action="#" th:action="@{/Accounting/Buy}" th:object="${buyRequest}" method="post">
    <label>
        Дата
        <input type="date" th:field="*{date}">
    </label></br>
    <label>
        Тикер
        <input type="text" th:field="*{ticker}">
    </label></br>
    <label>
        Цена
        <input type="text" th:field="*{cost}">
    </label></br>
    <label>
        Количество
        <input type="text" th:field="*{count}">
    </label></br>
    <label>
        Тип бумаги
        <select th:field="*{type}">
            <option value="акция">Акция</option>
            <option value="облигация">Облигация</option>
        </select>
    </label>
    <input type="submit" value="Добавить"/>
</form>
</br>
<a th:href="@{/Accounting?instrumentName={name}(name=${instrumentName})}">Назад</a>
</body>
</html>
